@import 'tailwindcss';

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-card: var(--card);
}

@theme {
  /* colors */
  --color-prime-100: var(--color-white);
  --color-prime-200: oklch(95.127% 0.007 260.731);
  --color-prime-300: oklch(93.299% 0.01 261.788);
  --color-prime-400: oklch(89.925% 0.016 262.749);
  /* --color-card: var(--color-prime-100); */

  /* shadows */
  --shadow-up:
    0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-primary: 0 0 0 0.25rem rgba(10, 173, 10, 0.25);
  --shadow-secondary:
    0 2px 5px 1px rgba(145, 158, 171, 0.2),
    0 4px 5px 0 rgba(145, 158, 171, 0.14),
    0 1px 10px 0 rgba(145, 158, 171, 0.12);
}

@utility slide-hidden {
  &::-webkit-scrollbar {
    @apply h-0 w-0;
  }
  &::-webkit-scrollbar-track {
    @apply rounded-md bg-gray-300;
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-md bg-green-500;
  }
}

@utility slide-thin {
  &::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }
  &::-webkit-scrollbar-track {
    @apply rounded-md bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gray-500 transition-colors duration-200 ease-in-out;
  }
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }
  &::-webkit-scrollbar-thumb:active {
    @apply bg-gray-900;
  }
  &::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
}

body {
  @apply slide-thin scroll-smooth;
}
